In [1]:
def add():
    x =20
    y= 30
    print(x+y)
print(x)
print(y)

NameError: name 'x' is not defined

In [16]:
x= "awesome"

def myfunc():
    
    x = "fantastic"
    #local scope
    
    print("python is " + x)
  my func()
 print(x)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [10]:
x = 20

def add():
    
    y= 30
    print ("local variables y=",y)
    
    print("global variable x=",x)
    
    z= x+y
    print(z)

In [11]:
add()

local variables y= 30
global variable x= 20
50

In [19]:
def add_numbers(a,b):
    sum = a+b
    print("sum", sum)

In [22]:
add_numbers(2,5)

sum 7

In [23]:
def emp_name(name):
    print("my name is", name)

In [24]:
emp_name("yash")

my name is yash

In [25]:
#default argument
def add_numbers(a=4, b=8):
    sum = a+b
    print("sum", sum)

In [27]:
add_numbers()

sum 12

In [28]:
add_numbers(2,8)

sum 10

In [31]:
def emp_name(name="pw skills"):
    print("my name is", name)

In [32]:
emp_name()

my name is pw skills

In [33]:
#keyword arguments, chang 
def display_info(first_name, last_name):
    print("first name", first_name)
    print("last nmae", last_name)

In [34]:
display_info(first_name="pw", last_name="skills")

first name pw
last nmae skills

In [36]:
def add_numbers(a, b):
    sum = a+b
    print("sum", sum)

In [37]:
add_numbers(a=4, b=7)

sum 11

In [38]:
add_numbers(b =8, a=5)

sum 13

In [45]:
def find_sum(*numbers):
    result=0
    
    for num in numbers:
        result = result+num
    print("sum", result)

In [46]:
find_sum()

sum 0

In [47]:
find_sum(1, 2, 3)

sum 6

In [48]:
find_sum(1, 2, 3, 4, 5, 6)

sum 21

In [49]:
def simple(*x):
    print(x)

In [50]:
simple()

()

In [51]:
simple(1, 2, 3)

(1, 2, 3)

In [52]:
simple(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [154]:
def intro(**data):
    print("data type of argument", type(data))
    
    for key,value in data.items():
        print(key,value)

In [155]:
intro(firstname='pw', lastname='skills')

data type of argument <class 'dict'>
firstname pw
lastname skills

In [66]:
def simple(**x):
    print(x)

In [71]:
simple(name="yash", age="28",id no="23")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1205683211.py, line 1)

In [150]:
def showkeyvale(**kwargs):
    print(kwargs)

In [151]:
showkeyvale(x=1, y=2)

{'x': 1, 'y': 2}

In [74]:
#lambda fxn
x = lambda : print("hello world")

In [75]:
x()

hello world

In [77]:
y= lambda : print("pw skills")

In [78]:
y()

pw skills

In [79]:
addnum= lambda a,b: a+b

In [80]:
addnum(2,3)

5

In [81]:
multi= lambda a, b: a*b

In [82]:
multi(5,4)

20

In [148]:
a= int(input("enter first number"))
b= int(input("enter second number"))
square = lambda a,b:(a**2, b**2)
print(square(a,b))

enter first number 2
enter second number 3

(4, 9)

In [87]:
def evenodd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

In [88]:
evenodd(23)

number is odd

In [91]:
x = lambda n: "number is even" if n%2==0 else "number is odd"

In [92]:
x(3)

'number is odd'

In [95]:
greatest_num=lambda a,b: a if a>b else b

In [96]:
greatest_num(4,8)

8

In [97]:
#lam to find sumof num
sum_num= lambda a,b, c: a+b+c

In [98]:
sum_num(4, 5, 6)

15

In [144]:
products= [
    {'name':'product1', 'price':50},
    {'name':'product2', 'price':40},
    {'name':'product3','price':30},
    {'name':'product4', 'price':20}
  ]
#sorted()
sorted_products=sorted(products,key=lambda x:x['price'], reverse= True)
print(sorted_products)

[{'name': 'product1', 'price': 50}, {'name': 'product2', 'price': 40}, {'name': 'product3', 'price': 30}, {'name': 'product4', 'price': 20}]

In [147]:
for i in sorted_products:
    print(i)

{'name': 'product1', 'price': 50}
{'name': 'product2', 'price': 40}
{'name': 'product3', 'price': 30}
{'name': 'product4', 'price': 20}

In [101]:
#input_char= lambda

#if x= a, e, i, o, u 
#print(" it is a vowels
vowels = ['a', 'e', 'i', 'o', 'u', A','E', 'I', 'O', 'U']
          
      
      #filter
      #map
      #reduce

SyntaxError: unterminated string literal (detected at line 4) (3575822829.py, line 4)

In [106]:
language= ['python', 'java','javascript']

In [107]:
enumerate_prime=enumerate(language)

In [108]:
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, 'javascript')]

In [111]:
enumerate_prime=enumerate(language, 20)

In [112]:
list(enumerate_prime)

[(20, 'python'), (21, 'java'), (22, 'javascript')]

In [114]:
#list comprehension
lst = [1,2,3,4,5,6,7,8,9,10]

In [115]:
a= [x for x in lst]

In [116]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [119]:
lst = [1,2,3,4,5,6,7,8,9,10]
a = [x+1 for x in lst]

In [120]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [121]:
lst = [1,2,3,4,5,6,7,8,9,10]
a = [x*2 for x in lst]

In [122]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [123]:
lst = [1,2,3,4,5,6,7,8,9,10]
c = [x for x in lst if x>4]

In [124]:
c

[5, 6, 7, 8, 9, 10]

In [127]:
a =[]

for x in lst:
  if x>4:
    a.append(x)

In [128]:
a

[5, 6, 7, 8, 9, 10]

In [135]:
lst = [1,2,3,4,5,6,7,8,9,10]
result=[i for i in 1 if i%2==0]
result

TypeError: 'int' object is not iterable

In [132]:
a =[]

for x in lst:
  if x>4:
    a.append(x)

In [133]:
lst = [1,2,3,4,5,6,7,8,9,10]
e = [x if x>4 else 'lessthan 4' for x in lst]

In [134]:
e

['lessthan 4', 'lessthan 4', 'lessthan 4', 'lessthan 4', 5, 6, 7, 8, 9, 10]

In [136]:
a =[]

for x in lst:
  if x>4:
    a.append(x)
else:
    a.append("less than 4")

In [137]:
a

[5, 6, 7, 8, 9, 10, 'less than 4']